/*css website wide style sheet*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style-type: none;
}

.logo img{
    width: 100px;
    height: auto;
}

.nav-links{
    display: flex;
    gap: 30px
}

#try-interactive-demo{
    display: flex;
    justify-content: space-between;
}

.three-d-visuals img {
    width: 250px;
    height: auto
}

.projects-grid, .media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow-x: auto;
    grid-auto-flow: column;
}

.project-card img {
    width: 200px;
    height: auto
}

.media-item img {
    width: 300px;
    height: auto
}
.faq-question{
    display: flex;
    align-items: center;
}

.faq-item img {
    width: 30px;
    height: auto;
    display: block;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links img {
    width: 80px;
}

.social-links a {
    color: #fff;
    font-size: 24px;
}